.date {
    width: 100%;
    padding: 10px;
    font-family: poppins;
    height: 40px !important;
    border-radius: 5px;
    font-size: 16px;
}

.css-q29v56-MuiButtonBase-root-MuiRadio-root.Mui-checked{
    color: black;
}

.css-hyxlzm {
    color: black;
}